<div class="container">
  <h1>PLAYLIST</h1>

  <playlist-item ng-repeat="playlist in playlists" playlist="playlist" redirect="goToDetail" show-edit="showEditPopup" show-delete="showDeletePopup"></playlist-item>

  <button class="add mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" ng-click="showNewPopup()">
    <i class="material-icons">add</i>
  </button>
</div>

<popup class="popup" ng-if="deletePopup" service="deletePlaylist" current="currentPL" cancel="cancelDelete" message="text" sub="subText"></popup>
<popup class="popup" ng-if="editPopup" service="editPlaylist" current="currentPL" cancel="cancelEdit" message="text" name="title"></popup>
<popup class="popup" ng-if="newPopup" service="newPlaylist" cancel="cancelNew" message="text" name="title"></popup>