<div class="container">
  <h1>PLAYLIST</h1>

  <div class="playlist-item" ng-repeat="playlist in playlists">
    <div ng-click="goToDetail(playlist.id)" class="title">{{ playlist.name }}</div>
    <div class="date">{{ playlist.createdAt.slice(0, 10) }}</div>
    <button class="editPL" ng-click="showEditPopup(playlist)">Edit</button>
    <button class="deletePL" ng-click="showDeletePopup(playlist)">Delete</button>
    <hr>
  </div>

  <button class="add mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" ng-click="showNewPopup()">
    <i class="material-icons">add</i>
  </button>
</div>

<popup class="popup" ng-if="deletePopup" service="deletePlaylist" currentPL="currentPL" ></popup>
<popup ng-if="editPopup"></popup>
<popup ng-if="newPopup"></popup>

<div class="popup" ng-if="editPopup">
  <div class="mdl-card mdl-shadow--8dp">
    <h4>Do you want to change the name of the playlist?</h4>
    <input ng-model="newTitle" placeholder="New Playlist Name">
    <button ng-click="editPlaylist(currentPL.id, newTitle)">Edit</button>
    <button ng-click="cancelEdit()">Cancel</button>
  </div>
</div>

<div class="popup" ng-if="newPopup">
  <div class="mdl-card mdl-shadow--8dp">
    <h4>New Playlist</h4>
    <input ng-model="title" placeholder="Playlist Title">
    <button ng-click="newPlaylist(title)">Submit</button>
    <button ng-click="cancelNew()">Cancel</button>
  </div>
</div>