<div class="container">
  <h1 class="detail-title">{{ ctrl.playlist.name }}</h1>
  <a class="spotify-login list-login col-md-2" ng-href="/api/user/login" ng-if="!ctrl.user" target="_self">Login with Spotify</a>

  <music-player current="ctrl.currentSong" tracks="ctrl.tracks" next="ctrl.nextTrack"></music-player>

  <track-item class="trackItem" ng-repeat="track in ctrl.tracks" track="track" user="ctrl.user" service="ctrl.deleteTrack" playlist="ctrl.playlist"></track-item>

  <played-item class="playedItem" ng-repeat="track in ctrl.played" track="track"></played-item>

  <button ng-if="ctrl.user" class="add mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" ng-click="ctrl.showAddTrackPopup()">
    <i class="material-icons">add</i>
  </button>
</div>

<div class="popup" ng-if="ctrl.showAddTrack">
  <div class="mdl-card mdl-shadow--8dp">
    <h4>Search by the song name</h4>
    <input class="search" ng-if="ctrl.user" ng-model="ctrl.query" placeholder="Search" ng-change="ctrl.searchTrack(ctrl.query)">
    <div class="searchItem">
      <search-item ng-if="ctrl.searchList" ng-repeat="song in ctrl.search" track="song" add="ctrl.addTrack"></search-item>
    </div>
    <button class="cancel" ng-click="ctrl.cancelAdd()">Cancel</button>
  </div>
</div>