/*Landing Page Style*/
body {
  background-color: rgba(0, 0, 0, 0.82);
}

div.landing {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
}

div.landingTitle {
  font-family: 'Roboto', sans-serif;
  font-size: 50px;
  margin: 0 0 20px -25px;
  line-height: 50px;
  color: white;
}

a.spotify-login {
  border-style: solid;
  padding: 10px 5px 10px 5px;
  border-radius: 20px;
  border-color: #1db954;
  background-color: #1db954;
  color: white;
  text-decoration: none;
}

/*Playlist Page Style*/
button.add {
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 2;
  background-color: grey;
}

button.add:hover {
  background-color: grey;
}

div.main-title {
  font-size: 50px;
  line-height: 50px;
  margin: 20px 0 20px 0;
  font-family: 'Roboto Condensed', sans-serif;
  color: white;
}

div.subHead {
  text-align: justify;
  font-size: 16px;
  line-height: 20px;
  font-family: 'Roboto', sans-serif;
  color: white;
}

div.playlist-item {
  margin: 20px 0 20px 0;
  padding-top: 7px;
  border-style: solid;
  border-color: white;
  background-color: white;
  height: 60px;
  border-radius: 3px;
}

div.playlist-buttons {
  margin-top: 2px;
}

button.sharePL, button.editPL, button.deletePL {
  float: right;
  background-color: rgb(181, 181, 181);
}

button.sharePL:hover, button.editPL:hover {
  background-color: rgb(181, 181, 181);
}

button.editPL {
  margin: 0 7px 0 7px;
}

button.deletePL {
  margin-right: 20px;
}

div.playlist-title {
  font-size: 20px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  width: 100%;
}

div.playlist-title:hover {
  cursor: pointer;
  opacity: .7;
}

div.playlist-date {
  margin-top: 2px;
  font-family: 'Roboto', sans-serif;
}

/*Playlist Detail Page Style*/

div.backButton {
  margin-top: 5px;
}

div.backButton:hover {
  cursor: pointer;
}

img.back {
  width: 20px;
  margin-top: -3px;
}

img.back:hover {
  opacity: .7;
}

a.back {
  text-decoration: none;
  color: white;
}

div.detail-title {
  font-size: 50px;
  line-height: 50px;
  margin: 20px 0;
  color: white;
}

div.detail-sub {
  font-size: 20px;
  margin-bottom: 20px;
  text-align: justify;
  color: white;
}

h3.detail-headings {
  color: white;
}

a.list-login {
  position: fixed;
  right: 50px;
  top: 20px;
}

div.search {
  margin: auto;
}

div.trackItem {
  margin-bottom: 20px;
  animation: 1s 0s slidein;
  -webkit-animation: slidein 1s;
}

@keyframes slidein {
 0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

img.trackImg {
  width: 100px;
  height: 70px;
  margin-top: -5px;
}

div.trackName {
  font-weight: bold;
  color: white;
}

div.searchList {
  height: 200px;
  overflow-y: scroll;
  margin-bottom: 65px;
  display: flex;
  flex-direction: column;
}

div.loadingSearch {
  margin: auto;
}

img.loadingGif {
  width: 20px;
  margin-right: 5px;
}

/* Search Item Styling */

div.searchItem {
  display: flex;
  margin: 0 3px 5px 5px;
  border-style: solid;
}

img.searchImage {
  margin-right: 8px;
}

div.searchTitle, div.searchArtist, div.searchAlbum {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 230px;
  font-size: 13px;
}

div.searchTitle:hover {
  cursor: pointer;
  opacity: .7;
}

/*Music Player Style*/

div.player {
  margin-bottom: 20px;
  background-color: black;
  color: white;
  box-shadow: 5px 5px 5px #888888;
  border-radius: 3px;
}

.marquee {
  height: 30px;
  padding-top: 5px;
}

span.description {
  font-size: 20px;
}

div.time {
  margin-top: 7px;
  text-align: center;
}

div.progressBar {
  margin-top: 10px;
  width: 100%;
  background-color: white;
  height: 15px;
  border-radius: 30px;
}

button.play, button.pause, button.next, button.gong {
  color: black;
  background-color: white;
  margin-bottom: .5px;
}

button.play[disabled][disabled], button.pause[disabled][disabled], button.next[disabled][disabled], button.gong[disabled][disabled] {
  opacity: .3 !important;
  background-color: white;
}

span.label {
  border-style: solid;
  border-radius: 15px;
  font-size: 11px;
  background-color: lightblue;
  border-color: lightblue;
  position: relative;
  bottom: 3px;
}