/*Landing Page Style*/
div.landing {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
}

a.spotify-login {
  border-style: solid;
  padding: 10px 5px 10px 5px;
  border-radius: 20px;
  border-color: #1db954;
  background-color: #1db954;
  color: white;
  text-decoration: none;
}

/*Playlist Page Style*/

div.playlist-item {
  margin: 10px 0 10px 0;
}